/.nuget
/CarRental.Business.Bootstrapper/obj
/CarRental.Business.Bootstrapper/bin
/CarRental.Business.Entities/obj
/CarRental.Business.Entities/bin
/CarRental.Client.Entities/obj
/CarRental.Client.Entities/bin
/CarRental.Data/obj
/CarRental.Data/bin
/CarRental.Data.Contracts/obj
/CarRental.Data.Contracts/bin
/CarRental.Data.Tests/obj
/CarRental.Data.Tests/bin
/Core.Common/obj
/Core.Common/bin
/Core.Common.Contracts/obj
/Core.Common.Contracts/bin
/Core.Common.Tests/obj
/Core.Common.Tests/bin
